<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Privilee UI Suite">
  <test name="UI Tests">
    <classes>
      <class name="tests.PageLoadTest"/>
      <class name="tests.FilterPanelTest"/>
      <class name="tests.SearchVenueTest"/>
      <class name="tests.MapLocatorTest"/>
      <class name="tests.PerformanceTest"/>
      <class name="tests.FilterNormalFlowTest"/>
      <class name="tests.MapEdgeCaseMarkersNotRenderedTest"/>
      <class name="tests.VenueDataAccuracyTest"/>

    </classes>
  </test>
</suite>
